<section class="hero">
  <div class="hero__content">
    <h1 class="hero__title">Collect Feedback,<br />Unlock Ideas</h1>
    <p class="hero__subtitle">
      Create and share surveys in minutes – from team events to workplace culture. Collect
      opinions, engage your audience, and turn feedback into action.
    </p>
    <app-button-primary (action)="newSurvey.emit()" />
  </div>

  <div class="hero__animation">
    <img class="hero__anim-base"     src="img/animation/Backround.png" alt="" aria-hidden="true" />
    <img class="hero__anim-layer hero__anim-bubble"   src="img/animation/Layer_1.png" alt="" aria-hidden="true" />
    <img class="hero__anim-layer hero__anim-check"    src="img/animation/Layer_2.png" alt="" aria-hidden="true" />
    <img class="hero__anim-layer hero__anim-star"     src="img/animation/Layer_3.png" alt="" aria-hidden="true" />
    <img class="hero__anim-layer hero__anim-question" src="img/animation/Layer_4.png" alt="" aria-hidden="true" />
  </div>
</section>
